* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
    font-family: Arial, sans-serif;
    
  }
  body{
    background-color:#6B8A7A;
  }

  .header h1{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 1rem;
    background-color:  #B7B597;
    box-shadow: 0 0 1rem;
    border-radius: 2rem;
  }
  .form{
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem black;
    margin-top: 3rem;
    
    

    label{
        padding: .5rem;
        color: black;
        font-size: 18px;
    }

    input{
       
        width: 20rem;
        height: 2rem;
        border-radius: 20px 10px;
        border-style: dashed;
        border-color: #B7B597;
        transition: .8s ease-in-out;
        
        
        margin-top: 1rem;
        &:hover{
border-style: double;
border-color: #B7B597;

        }
        
    }
  }

  .add{
    margin-top: 2rem;
    
    height: 2rem;
    background: white;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease-in-out;
    border: #B7B597;
    
    &:hover{
        background-color: #B7B597;
        color: white;
    }

  }  

  section {
   
    padding: 20px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

thead tr {
    background-color: #B7B597;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

thead th, tbody td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    
}

tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}


td:last-child, th:last-child {
    text-align: center;
}

table th {
    cursor: pointer;
}

table td, table th {
    text-align: center;
}

.button{
  width: 5rem;
  height: 2rem;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s ease-in-out;
  border: #B7B597;
  background-color: #6B8A7A;
  
  &:hover{
      background-color: #B7B597;
      color: white;
  }

}  
.search{
  width: 100%;
  height: 3rem;
  
}


